@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/signUp';
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;700&display=swap');

body {
    font-family: 'Asap Condensed', sans-serif;
}