footer {
    background-image: url('/public/img/footer-bg.jpg');
    background-color: #333;
    background-size: cover;
    color: white;
    overflow: hidden;
    position: relative;
    
    ul li {
        font-family: Arial, Helvetica, sans-serif;
        font-size: .6rem;
        color: #797979;
        
        a {
            text-decoration: none;
        }
    }
    
    img {
        height: 400px;
        position: absolute;
        top: -70px;
    }
}