.grigino {
    background-color: #F6F6F6;
    border-top-color: darken($color: #F6F6F6, $amount: 5);
    border-top-width: 1px;
    border-top-style: solid;

    .col:last-child {
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: darken($color: #F6F6F6, $amount: 5);
    }

    .my-int {
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        border-left-width: 1px;
        border-left-style: solid;
        border-left-color: darken($color: #F6F6F6, $amount: 5);

        h6 {
            text-transform: uppercase;
            color: gray;
            font-weight: bold;
            font-size: .7rem;
        }

        svg {
            height: 35px;
            fill: lightgray;
        }
    }
}