.single {
    background-color: white;

    .blue-div {
        background-color: #0282F9;
        height: 50px;
    }

    .fumetto-show {
        height: 250px;
        border: 1px solid white;
        position: absolute;
        top: -270px;
    }

    .fumetto-banner {
        background-color: #00A9D9;
        color: white;
        font-size: .8rem;
        font-weight: lighter;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        height: 20px;
        padding: 0 .3rem;
        position: absolute;

        &.top {
            top: -269px;
            left: 13px;
        }

        &.low {
            text-align: center;
            width: 164px;
            top: -41px;
            left: 13px;
        }
}

    h3 {
        color: #003F5E;
    }
}