.single {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;

    .blue-div {
        background-color: #0282F9;
        height: 50px;
    }

    .fumetto-show {
        height: 250px;
        border: 1px solid white;
        position: absolute;
        top: -270px;
    }

    .fumetto-banner {
        background-color: #00A9D9;
        color: white;
        font-size: .8rem;
        font-weight: lighter;
        text-transform: uppercase;
        height: 20px;
        padding: 0 .3rem;
        position: absolute;

        &.top {
            top: -269px;
            left: 13px;
        }

        &.low {
            text-align: center;
            width: 164px;
            top: -41px;
            left: 13px;
        }
}

    h3 {
        color: #003F5E;
        font-family: 'Asap Condensed', sans-serif;
    }

    .green-banner {
        display: flex;
        align-items: center;
        background-color: #55BA59;
        color: white;
        font-size: .9rem;
        border-bottom-color: darken($color: #55BA59, $amount: 40);
        border-bottom-width: 1px;
        border-bottom-style: solid;
        height: 50px;
        padding: 0 1.5rem;

        &.large {
            width: 70%;
            display: flex;
            justify-content: space-between;

            .greeny {
                color: lighten($color: #55BA59, $amount: 30);
            }
        }

        &.small {
            justify-content: center;
            width: 30%;
            border-left-color: darken($color: #55BA59, $amount: 40);
            border-left-width: 1px;
            border-left-style: solid;
        }
    }

    p {
        font-size: .8rem;
        color: black;
        opacity: .5;
        padding-bottom: 2rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: end;

        h6 {
            font-family: 'Asap Condensed', sans-serif;
            color: black;
            opacity: .5;
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    .single-lower {
        background-color: #F6F6F6;
        border-top-color: darken($color: #F6F6F6, $amount: 5);
        border-top-width: 1px;
        border-top-style: solid;
        padding-top: 1rem;
        padding-bottom: 4rem;

        h5 {
            font-family: 'Asap Condensed', sans-serif;
            color: #003F5E;
            font-weight: bold;
            padding-bottom: 1rem;
        }

        h6 {
            color: #003F5E;
            font-size: .7rem;
            margin: 0;
            padding-top: .5rem;
        }

        .loop {
            padding-top: .5rem;
            padding-bottom: 0;
            line-height: 90%;
            opacity: 1;
        }

        .lower-part {
            color: #00A9D9;
            font-size: .7rem;
        }
    }
}